body{
  background-color: rgba(221, 221, 221, 0.541);
  
}
.Home{
  display: flex ;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  align-items: center;
}
#nav-container{
  margin-bottom: 10px;
  display: inline-flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  background-color:#87CEEB ;
  padding-left: 10px;
  padding-right: 10px;

}
#input-form{
  align-self:center ;
  justify-self: center;
}
#weather-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
#weather-icon-container{
  width:200px;
  display: flex;
  align-content: center;
  justify-content: center;
}
#weather-icon{
  min-width: 100px;
}
#current-weather-container{
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 500px;
  margin-bottom: 10px;
  
}
#web-logo{
  display: inline-flex;
  margin-bottom: 5px;
}
nav{
  align-self: center;

}
#search-input{
  height: 30px;
  width: 250px;
  
}
#air-Pollution{
  background-color: white;
}

@media (max-width: 575px) { 
  body{
    background-color: rgb(241, 237, 237); 
  }
  #weather-container{
    display: flex;
    flex-direction: row;
    font-size: 15px;
  }
  nav{
    margin-top: 5px;
    font-weight: 500;
    font-size: large;
  }
  #nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
    background-color: #87CEEB ;
    margin-bottom: 20px;
    border: solid 2px black;
    width: 100%;
    padding: 2%;
  }
  #web-logo{
    display: inline-flex;
    margin-bottom: 5px;
  }
  #input-form{
    
    display: flex;
    flex-direction: row;
    max-height: 30px

  }
  .weather-icon{
    max-width: 100px;
  }
  #Chart-container{
    width: 95%;
    min-width: 90vw;
  }
  #current-weather-container{
    margin-top: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    width: 95%;
    
 }
}
/* Small Devices (Phones - Landscape) */
@media (min-width: 576px) and (max-width: 767px) { 
  #weather-container{
    display: flex;
    flex-direction: row;
  }
 }

/* Medium Devices (Tablets - Portrait) */
@media (min-width: 768px) and (max-width: 991px) { 
  #weather-container{
    display: flex;
    flex-direction: row;
  }
  #Chart-container{
    max-width: 500px;
    min-width: 500px;
   }
 }

/* Large Devices (Tablets - Landscape) */
@media (min-width: 992px) and (max-width: 1199px) { 
  #weather-container{
    display: flex;
    flex-direction: row;
  }
  #Chart-container{
    max-width: 500px;
    min-width: 500px;
   }
 }

/* Extra Large Devices (Desktops) */
@media (min-width: 1200px) { 
  #weather-container{
    display: flex;
    flex-direction: row;
  }
  #Chart-container{
    max-width: 500px;
    min-width: 500px;
   }
   #current-weather-container{
    text-align: center;
    background-color: rgb(255, 255, 255);
    min-width: 500px;
  }

 }